<h2 class="titulo">Lorem Ipsum</h2>
<section class="cards">
  <div class="card">
    <img src="assets/images/lorem1.png" alt="lorem1">
    <div class="container">
      <h4><b>Lorem Ipsum¹</b></h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et sapien
        vel purus iaculis varius. In vestibulum pharetra enim, vel ultricies
        ante gravida ac. Nulla facilisi. Integer rutrum diam non nibh
        tincidunt, in commodo tortor bibendum. Donec tincidunt velit ut
        libero rutrum suscipit.
      </p>
    </div>
  </div>

  <div class="card">
    <img src="assets/images/lorem2.jpg" alt="lorem2">
    <div class="container">
      <h4><b>Lorem Ipsum²</b></h4>
      <p>
        Etiam tincidunt lorem in sapien congue ornare. Maecenas vitae mauris
        justo. Sed sit amet molestie lorem, vel pretium nulla. Aliquam
        tincidunt orci vel dapibus auctor. Donec eget ipsum felis. In hac
        habitasse platea dictumst.
      </p>
    </div>
  </div>
</section>

