<h2 class="titulo">{{titulo}}</h2>
<section class="cards">
  <div class="card">
    <img src="{{ colaborador.img }}">
    <div class="container">
      <h4><b>Colaborador</b></h4>
      <p class="id">ID: {{ colaborador.id }}</p>
      <p class="nome">Nome: {{ colaborador.nome }}</p>
      <p class="salario">Salário: {{ colaborador.salario }}</p>
      <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
    </div>
  </div>
  <div class="card">
    <img src="{{ colaborador.img }}">
    <div class="container">
      <h4><b>Colaborador</b></h4>
      <p class="id">ID: {{ colaborador.id }}</p>
      <p class="nome">Nome: {{ colaborador.nome }}</p>
      <p class="salario">Salário: {{ colaborador.salario }}</p>
      <p class="cargo">Cargo: {{ colaborador.cargo }}</p>
    </div>
  </div>
</section>
